* {
    margin: 0;
    padding: 0;
    background-color: #F1F3F5;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #1B3649;
}

h1 {
    font-size: 4rem;
}

#about {
    font-size: 2.5rem;
    color: #94729A;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    width: 20rem;
    margin: 1.5rem 0;
}

button {
    background-color: #CE8E8A; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

/* Menu */

.menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #1b3649;
}

#menuHeader {
    font-size: 4rem;
}

#price {
    color: #94729A;
    font-size: 1.2rem;
    font-style: italic;
}

#menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    padding-bottom: 5rem;
    margin-bottom: 2.5rem;
    width: 40%;
    border-bottom: 1px solid #94729A;
}

#entree, #mains, #dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#picHeader {
    font-size: 4rem;
}

#gallery img {
    padding: 5px;
    width: 300px;
}

#gallery #item2 {
    height: 300px;
    width: 500px;
}

/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #1b3649;
}

#conHeader {
    font-size: 1.1rem;
}

#address {
    color: #94729A;
}

img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
}